
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/standart.css">
</head>
<body>
<div class="col-sm-12 col-md-12 d-none d-sm-block bg-light menu" th:fragment="menu">
    <ul class="nav nav-tabs">
		<li class="nav-item dropdown">
			<a id="dropdown-invoices" data-toggle="dropdown" role="tab" aria-expanded="false"
			   aria-selected="true" class="nav-link dropdown-toggle" href="#">Orders</a>

			<div class="dropdown-menu" aria-labelledby="dropdown-invoices">
				<a onclick="showInvoices(); return false;" class="dropdown-item" data-toggle="tab" role="tab"
				aria-selected="true" href="#">Show invoices</a>
				<a onclick="newInvoice(); return false;" class="dropdown-item" data-toggle="tab" role="tab"
				aria-selected="false" href="#">New invoice</a>
			</div>

		</li>

		<li class="nav-item">
			<a onclick="showUsers(); return false;" data-toggle="tab" role="tab" aria-selected="false" class="nav-link" href="#">Users</a>
		</li>

		<li class="nav-item dropdown">
			<a id="dropdown-cars" data-toggle="dropdown" role="tab" aria-expanded="false"
			   aria-selected="false" class="nav-link dropdown-toggle" href="#">Cars</a>

			<div class="dropdown-menu" aria-labelledby="dropdown-cars">
				<a onclick="showCars(); return false;" class="dropdown-item" data-toggle="tab" role="tab"
				   aria-selected="false" href="#" >Show cars</a>
				<a onclick="newCar(); return false;" class="dropdown-item" data-toggle="tab" role="tab"
				   aria-selected="false" href="#" >Add car</a>
			</div>

		</li>
    </ul>
</div>

<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../js/popper.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>

</html>
