<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rockka car rent</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
    <script type="text/javascript" src="/js/input_car.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<header  th:replace="fragments/header :: header"></header>
<div id="menu" th:replace="fragments/menu :: menu"></div>
<div id="info">
    <ul class="list-unstyled">
        <li class="media" th:each="car: ${cars}">
            <img class="mr-3" th:src="@{'/images/'+${car.id}+'.jpg'}" alt="car image">
            <div class="media-body">
                <h2 class="mt-0 mb-1" th:text="${car.mark}+' '+${car.model}"></h2>
                <p >th:text="'release date: '+${car.releaseDate}"</p>
                <p th:text="'price: '+${car.price}"></p>
                <p th:text="'status: '+${car.isFree=='y' ? 'is free' : 'on rent'}"></p>
            </div>
        </li>
    </ul>
</div>
<div id="input">
    <form action="/car/save" method="post" name="car">
        <p>mark: <input name="mark"></p>
        <p>model: <input name="model"></p>
        <p>release date: <input name="release_date"></p>
        <p>price: <input name="price"></p>
        <p><input value="save" type="button" onclick="save()"></p>
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>