<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Rockka car rent</title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div id="menu" th:replace="fragments/menu :: menu"></div>
<main role="main">
    <section class="jumbotron text-center">
        <div class="container">
            <h1 class="jumbotron-heading">We offer our best cars</h1>
            <p class="lead text-muted">To reader information about rules on our site, FAQ and payment process click
                button follow</p>
            <p>
                <a href="/info" class="btn btn-primary">Info</a>
                <a href="/close" class="btn btn-secondary">Close</a>
            </p>
        </div>
    </section>
    <div class="album text-muted">
        <div class="container">
            <div class="row">
                <div class="card" th:each="car: ${cars}" th:if="${car.getIsDeleted()}=='n'">
                    <div  >
                        <img class="mr-3" th:src="@{'/images/'+${car.id}+'.jpg'}" alt="car image">
                        <p class="card-text">
                            <h3 th:text="${car.name}"></h3>
                            <p>price: <span th:text="${car.price}"></span></p>
                            <span class="badge badge-info">free</span>
                        </p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</main>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>