header {
    background: #345678;
    min-height: 4rem;
}

header.navbar{
    padding-left: 10%;
    padding-right: 10%;
}

.footer .container {
    color: gray;
    text-align:center;
    background: #EEE;
    position: fixed;
    bottom: 0rem;
    max-width: 100%;
    width: 80%;
}

body{
    background: #EEE;
    margin-top: 4rem;
    padding-left: 10%;
    padding-right: 10%;
}

label{
    /*margin-top: 0.6rem;*/
}

th, td{
    min-width: 7rem;
}

.card {
    width: 14rem;
    height: 18rem;
    min-width: 15rem;
    min-height: 12rem;
    padding: 1rem;
    margin: 0.5rem;
}

.card img{
    width: 14rem;
    height: 9rem;
    min-width: 14rem;
    min-height: 9rem;
}

.chosen {
	background-color: #cce6ff !important;
}
