header {
    background: #345678;
}

footer {
    color: gray;
    text-align:center;
    background: #EEE;
}

body{
    background: #EEE;
    margin-top: 4rem;
}

main{
    margin-left: 5rem;
    margin-right: 5rem;
}
label{
    margin-top: 0.6rem;
}

li{
    margin-bottom: 0.5rem;
}

.menu{
    max-width: 8rem;
}
.menu .nav-pills{
    margin-left: -1rem;
    margin-right: -1rem;
}
