header {
    background: #345678;
    min-height: 4rem;
}

header.navbar{
    padding-left: 10%;
    padding-right: 10%;
}

.footer .container {
    color: gray;
    text-align:center;
    background: #EEE;
    position: absolute;
    bottom: 2rem;
    max-width: 100%;
    width: 80%;
}

body{
    background: #EEE;
    margin-top: 4rem;
    padding-left: 10%;
    padding-right: 10%;
}

main{
/*     margin-left: 5rem; */
/*     margin-right: 5rem; */
}
label{
    margin-top: 0.6rem;
}

/*
.menu{
    max-width: 8rem;
}
.menu li{
    margin-left: -1rem;
    margin-right: -1rem;
    margin-bottom: 0.5rem;
}
*/

th, td{
    min-width: 7rem;
}