
<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../css/bootstrap.min.css">
    <link rel="stylesheet" href="../../css/standart.css">
</head>
<body>
<div class="col-sm-3 col-md-2 d-none d-sm-block bg-light menu" th:fragment="admin_menu">
	<script type="text/javascript" src="/js/admin_account.js"></script>
	<script type="text/javascript">
		addInfoTable();
	</script>
    <ul class="nav nav-pills flex-column">
		<li class="nav-item">
			<span class="nav-link active" onclick="showOrders()">Orders</span>
		</li>
		<li class="nav-item">
			<span class="nav-link" onclick="showUsers()">Users</span>
		</li>
		<li class="nav-item">
			<span class="nav-link" onclick="showCars()">Cars</span>
		</li>
    </ul>
</div>

<!--TODO: two different menus to different roles-->
<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../js/popper.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>

</html>
