<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container">
        <span class="text-muted">
            &copy; Mr Rockka
        </span>
        <br>
        <span clas="nav-link">
            <a href="https://github.com/Mrrockka/com.rockka.carrent">Repository</a>
        </span>
    </div>

    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/popper.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.min.js"></script>
</footer>
</body>

</html>

