<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header class="navbar navbar-expand-md fixed-top navbar-dark" th:fragment="header" >
    <script type="text/javascript" src="/js/create_login_block.js" ></script>
    <script type="text/javascript">
        getUserName();
    </script>
    <a class="navbar-brand" href="/">CarRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">
          <!--  <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>-->
        </ul>
        <ul id="name_block" class="navbar-nav ml-md-auto">
        </ul>
    </div>

	<script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
</header>

</body>

</html>

