<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
</head>
<body>
<header class="navbar navbar-expand-md fixed-top navbar-dark" th:fragment="header">
    <a class="navbar-brand" href="/">CarRent</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarCollapse"
            aria-controls="navbarCollapse" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarCollapse">

        <ul class="navbar-nav mr-auto">
            <li class="nav-item">
                <a class="nav-link" href="/">Home</a>
            </li>
            <li class="nav-item dropdown">
                <span class="nav-link dropdown-toggle" id="choose" data-toggle="dropdown" aria-haspopup="true"
                      aria-expanded="false">Admin</span>
                <div class="dropdown-menu" aria-labelledby="choose">
                    <a class="dropdown-item" href="/admin/add_car">Add car</a>
                    <a class="dropdown-item" href="/admin/account">somethingelse</a>
                </div>
            </li>
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle" id="navddmenu" href="/" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">v1.0</a>
                <div class="dropdown-menu" aria-labelledby="navddmenu">
                    <a class="dropdown-item" href="https://github.com/Mrrockka/com.rockka.carrent">GitHub</a>
                </div>
            </li>
        </ul>
        <ul class="navbar-nav ml-md-auto" th:switch="${role}">
            <li th:case="ROLE_USER" class="nav-item">
                Hi, <a class="nav-link" href="/user/account" th:text="${nickname}"></a>
            </li>
            <li th:case="ROLE_ADMIN" class="nav-item">
                Hi, <a class="nav-link" href="/admin/account" th:text="${nickname}"></a>
            </li>
            <li th:case="*" class="nav-item">
                <a class="nav-link" href="/login">Log in</a>
            </li>
        </ul>
    </div>
</header>

</body>

</html>

