<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="../../css/bootstrap.min.css">
	<link rel="stylesheet" href="../../css/standart.css">
	<title>Menu</title>
</head>
<body>
	<div class="col-sm-12 col-md-12 d-none d-sm-block bg-light menu" th:fragment="menu">
		<ul class="nav nav-tabs">
			<li class="nav-item">
				<a onclick="showAccount(); return false;" data-toggle="tab" role="tab" aria-selected="true" class="nav-link active" href="#">Account</a>
			</li>
			<li class="nav-item">
				<a onclick="showOrders(); return false;" data-toggle="tab" role="tab" aria-selected="false" class="nav-link" href="#">
					Orders</a>
			</li>
		</ul>
	</div>

<script type="text/javascript" src="../../js/jquery-3.2.1.min.js"></script>
<script type="text/javascript" src="../../js/popper.min.js"></script>
<script type="text/javascript" src="../../js/bootstrap.min.js"></script>
</body>
</html>