<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/standart.css">
	<link rel="stylesheet" href="/css/form.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
	<script type="text/javascript" src="/js/jquery-ui.min.js"></script>
	<script type="text/javascript" src="/js/payment.js"></script>
	<title>Pay page</title>
</head>
<body>
<header th:replace="fragments/header :: header"></header>
	<div class="col-md-8 col-sm-6">
		<!--payment form-->
		<form class="form-horizontal" name="pay_page">
			<h2 class="mt-md-4">Payment page</h2>
			<!--id inoivce-->
			<div class="form-inline form-group">
				<label class="control-label">Invoice id: </label>
				<span id="invoice_id" class="form-control" th:text="${invoice_id}"></span>
			</div>
			<!--username -->
			<div class="form-inline form-group">
				<label class="control-label">Username: </label>
				<span class="form-control" th:text="${username}"></span>
			</div>
			<!--car_name-->
			<div class="form-inline form-group">
				<label class="control-label">Car name: </label>
				<span class="form-control" th:text="${car_name}"></span>
			</div>
			<!--invoice price-->
			<div class="form-inline form-group">
				<label class="control-label">Invoice price</label>
				<span class="form-control" th:text="${invoice_price}"></span>
			</div>
			<!--payment amount-->
			<div class="form-inline form-group">
				<label class="control-label">Payment amount: </label>
				<input type="number" class="form-control" value="0" th:value="${invoice_price}" readonly>
			</div>
			<input type="button" value="Submit" class="btn btn-lg btn-block btn-primary" onclick="registerPayment()">
		</form>
	</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>