<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Order for '+${car.name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
    <link rel="stylesheet" href="/css/form.css">
    <script type="text/javascript" src="/js/register_new_order.js"></script>
</head>
<body>
    <header th:replace="fragments/header :: header"></header>
    <div class="container">
        <form class="form-std" name="order">
            <div class="row">
                <div class="col-4">
                    <label for="username" class="text-left">Full name: </label>
                </div>
                <div class="col-8 well">
                    <span id="username" class="text-left"
                          th:text="${username}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="address" class="text-left">Address: </label>
                </div>
                <div class="col-8 well">
                    <span id="address" class="text-left" th:text="${user_address}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="birthday" class="text-left"></label>
                </div>
                <div class="col-8 well">
                    <span id="birthday" class="text-left well" th:text="${user_birthday}"></span>
                </div>
            </div>

            <div class="row">
                <div class="col-4">
                    <label for="carid" class="sr-only">Car id: </label>
                </div>
                <div class="col-8 well">
                    <span id="carid" class="sr-only" th:text="${car.id}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="carname" class="text-left">Car: </label>
                </div>
                <div class="col-8 well">
                    <span id="carname" class="text-left" th:text="${car.name}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="carcolor" class="text-left">Color: </label>
                </div>
                <div class="col-8 well">
                    <span id="carcolor" class="text-left" th:text="${car.color}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="carprice" class="text-left">Rent in a day: </label>
                </div>
                <div class="col-8 well">
                    <span id="carprice" class="text-left" th:text="${car.price}"></span>
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="startsAt" class="text-left">Starts at: </label>
                </div>
                <div class="col-8 well">
                    <input id="startsAt" type="date" class="text-left" onclick="setPrice()">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="expiresAt" class="text-left">Expires at: </label>
                </div>
                <div class="col-8 well">
                    <input id="expiresAt" type="date" class="text-left" onclick="setPrice()">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="description" class="text-left">Description: </label>
                </div>
                <div class="col-8 well">
                    <input type="text" id="description" value="Rent car" class="text-left">
                </div>
            </div>
            <div class="row">
                <div class="col-4">
                    <label for="price" class="text-left">Order price: </label>
                </div>
                <div class="col-8 well">
                    <input type="number" id="price" value="0" class="text-left" disabled>
                </div>
            </div>
            <input class="btn btn-lg btn-primary btn-block" type="button" value="Save order" onclick="registerNewOrder()">
        </form>
    </div>
    <footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>