<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title th:text="'Invoice for '+${car.name}"></title>
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
    <link rel="stylesheet" href="/css/form.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/register_new_invoice.js"></script>
</head>

<body>
<header th:replace="fragments/header :: header"></header>
<div class="mt-sm-4 col-md-9 col-sm-8">
    <form class="form-horizontal" name="invoice">
        <h2 class="ml-sm-4">Register new invoice</h2>
        <div class="form-inline form-group">
            <label for="username" class="control-label col-md-6 col-sm-6">Full name: </label>
            <div class="col-md-6 col-sm-6">
                    <span id="username" class="form-control"
                          th:text="${username}"></span>
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="address" class="control-label col-md-6 col-sm-6">Address: </label>
            <div class="col-md-6 col-sm-6">
                <span id="address" class="form-control" th:text="${user_address}"></span>
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="birthday" class="control-label col-md-6 col-sm-6">Release Date: </label>
            <div class="col-md-6 col-sm-6">
                <span id="birthday" class="form-control" th:text="${user_birthday}"></span>
            </div>
        </div>

        <div class="form-inline form-group">
            <label for="carname" class="control-label col-md-6 col-sm-6">Car: </label>

            <div class="col-md-6 col-sm-6">
                <span id="carname" class="form-control" th:text="${car.name}"></span>
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="carcolor" class="control-label col-md-6 col-sm-6">Color: </label>

            <div class="col-md-6 col-sm-6">
                <span id="carcolor" class="form-control" th:text="${car.color}"></span>
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="carprice" class="control-label col-md-6 col-sm-6">Rent in a day: </label>

            <div class="col-md-6 col-sm-6">
                <span id="carprice" class="form-control" th:text="${car.price}"></span>
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="startsAt" class="control-label col-md-6 col-sm-6">Starts at: </label>

            <div class="col-md-6 col-sm-6">
                <input id="startsAt" type="datetime-local" class="form-control" onclick="setPrice()">
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="expiresAt" class="control-label col-md-6 col-sm-6">Expires at: </label>

            <div class="col-md-6 col-sm-6">
                <input id="expiresAt" type="datetime-local" class="form-control" onclick="setPrice()">
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="description" class="control-label col-md-6 col-sm-6">Description: </label>

            <div class="col-md-6 col-sm-6">
                <input type="text" id="description" value="Rent car" class="form-control">
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="price" class="control-label col-md-6 col-sm-6">Invoice price: </label>

            <div class="col-md-6 col-sm-6">
                <input type="number" id="price" value="0" class="form-control" disabled>
            </div>
        </div>
        <div class="form-inline form-group">
            <label for="carid" class="sr-only align-left col-md-6 col-sm-6">Car id: </label>

            <div class="col-md-6 col-sm-6">
                <span id="carid" class="sr-only" th:text="${car.id}"></span>
            </div>
        </div>
        <input class="btn btn-lg btn-primary btn-block" type="button" value="Save order" onclick="registerNewInvoice()">
    </form>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>