<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Access denied</title>
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
	<link rel="stylesheet" href="/css/bootstrap.min.css">
	<link rel="stylesheet" href="/css/standart.css">
</head>
<body>
	<header th:replace="fragments/header :: header"></header>
	<div>Access denied</div>
	<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>