<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.springframework.org/schema/security">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
    <link rel="stylesheet" href="/css/form.css">
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/register_new_user.js"></script>
    <title>Registration</title>
</head>
<body>
<header th:replace="fragments/header"></header>
<div class="col-md-5 col-sm-6">
    <form class="form-std" name="user">
        <h2 class="form-std-heading mt-sm-4">Input your credentials</h2>
        <div class="form-inline form-group">
            <div class="col-4">
                <label for="username">Username:</label>
            </div>
            <div class="col-8">
                <input type="text" id="username" class="form-control" placeholder="Username"
                       name="username"
                       required
                       autofocus>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="password">Password:</label>
            </div>
            <div class="col-8">
                <input type="password" id="password" class="form-control" placeholder="Password"
                       name="password"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="password_check">Repeat password:</label>
            </div>
            <div class="col-8">
                    <input type="password" id="password_check" class="form-control" placeholder="Password"
                           required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="firstName">First name:</label>
            </div>
            <div class="col-8">
                <input type="text" id="firstName" class="form-control" placeholder="First name"
                       name="firstname"
                       required>

            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="secondName">Second name:</label>
            </div>
            <div class="col-8">
                <input type="text" id="secondName" class="form-control" placeholder="Second name"
                       name="secondname"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="lastName">Last name:</label>
            </div>
            <div class="col-8">
                <input type="text" id="lastName" class="form-control" placeholder="Last name"
                       name="lastname">
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="address">Address:</label>
            </div>
            <div class="col-8">
                <input type="text" id="address" class="form-control" placeholder="Address" name="address"
                       required>
            </div>
        </div>
        <div class="row">
            <div class="col-4">
                <label for="birthday">Birthday:</label>
            </div>
            <div class="col-8">
                <input type="date" id="birthday" class="form-control" placeholder="Birthday" name="birthday">
            </div>
        </div>

        <input class="btn btn-lg btn-primary btn-block" value="register" type="button" onclick="registerNewUser()">
    </form>
</div>
<footer th:replace="fragments/footer"></footer>
</body>
</html>