<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${car.name}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
</head>
<body>
    <header th:replace = "fragments/header :: header"></header>
    <div class="container">
        <div class="well">
            <img th:src="@{'/images/cars/' + ${car.id}+'.png'}" atr="car image">
            <h2 th:text="${car.name}"></h2>
            <dl>
                <dt>Description:</dt>
                <dd th:text="${car.description}"></dd>
                <dt>Color:</dt>
                <dd th:text="${car.color}"></dd>
                <dt>Country:</dt>
                <dd th:text="${car.country}"></dd>
                <dt>Realease date:</dt>
                <dd th:text="${car.releaseDate}"></dd>
                <dt>Price:</dt>
                <dd th:text="${car.price}"></dd>

            </dl>
            <a class="btn btn-lg btn-primary" th:href="@{'/invoice/car/'+${car.id}}">Rent now</a>
        </div>
    </div>
    <footer th:replace = "fragments/footer :: footer"></footer>
</body>
</html>