<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title th:text="${car.name}"></title>
    <link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
</head>
<body>
<header th:replace="fragments/header :: header"></header>
<div class="col-md-5 col-sm-6">
    <div class="">
        <img class="mt-md-6" th:src="@{'/images/cars/' + ${car.id}+'.png'}" atr="car image">
        <h2 th:text="${car.name}"></h2>
        <dl class="row">
            <dt class="col-sm-6">Color:</dt>
            <dd class="col-sm-6" th:text="${car.color}"></dd>
            <dt class="col-sm-6">Country:</dt>
            <dd class="col-sm-6" th:text="${car.country}"></dd>
            <dt class="col-sm-6">Realease date:</dt>
            <dd class="col-sm-6" th:text="${car.releaseDate}"></dd>
            <dt class="col-sm-6">Price:</dt>
            <dd class="col-sm-6" th:text="${car.price}"></dd>
            <dt class="col-sm-6">Description:</dt>
            <dd class="col-sm-6" th:text="${car.description}"></dd>
        </dl>
        <a class="btn btn-lg btn-primary" th:href="@{'/invoice/car/'+${car.id}}">Rent now</a>
    </div>
</div>
<footer th:replace="fragments/footer :: footer"></footer>
</body>
</html>