<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="../../../resources/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../resources/static/css/standart.css">
    <script type="text/javascript" src="../../../resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../../resources/js/popper.min.js"></script>
    <script type="text/javascript" src="../../../resources/js/bootstrap.min.js"></script>

    <!--<link rel="stylesheet" href="/css/bootstrap.min.css">
    <link rel="stylesheet" href="/css/standart.css">
    <script type="text/javascript" src="/js/input_car.js"></script>
    <script type="text/javascript" src="/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="/js/bootstrap.bundle.min.js"></script>-->
</head>
<body>
<footer th:fragment="footer" class="footer">
    <div class="container">
        <span class="text-muted">
            &copy; Mr Rockka
        </span>
    </div>
</footer>
</body>

</html>

