<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="../../../resources/static/css/standart.css">
    <link rel="stylesheet" href="../../../resources/static/css/bootstrap.min.css">
    <link rel="stylesheet" href="../../../resources/static/css/standart.css">
    <script type="text/javascript" src="../../../resources/js/jquery-3.2.1.min.js"></script>
    <script type="text/javascript" src="../../../resources/js/bootstrap.bundle.min.js"></script>
</head>
<body>
<footer th:fragment="footer">
    <div class="">
        <p>
            &copy; Mr Rockka
        </p>
    </div>
</footer>
</body>

</html>

